<style>
    {
        margin: 0;
        padding: 0;

    }
    div{
        width: 90%;
        height: 500px;
        background-color:powderblue;
        margin: 0 auto;
        border: 2px solid #000;
        font-size: 50px;
        text-align: center;
        line-height: 500px;


    }
</style>
<hr>
   

<h2>1. 인적사항</h2>
  <ul>
    <li>이름: 안소은</li>
    <li>학교: 동국대학교</li>
    <li>학과: 화공생물공학과</li>
    <li>학번: 2020112262</li>
  </ul>
  <br>
<h3>2. 특이사항</h3>
  <ul>
    <li>거주지: 서울시 구로구</li>
    <li>취미: 새로운 분야 도전하고 배우기</li>
    <li>좋아하는 일: 밤산책, 맛집투어</li>
  </ul>
  <br>
<h4>3. 멋사에서 이루고 싶은 일</h4>
    <ul>
        <li>다양한 멋사 사람들 만나기</li>
        <li>코린이 탈출하기!</li>
    </ul>
  <br>
<!--연도 표시 할 때 쓸 거-->
  <div class="position-relative m-4">
    <div class="progress" style="height: 1px;">
      <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">1</button>
    <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-primary rounded-pill" style="width: 2rem; height:2rem;">2</button>
    <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-pill" style="width: 2rem; height:2rem;">3</button>
  </div>
  <!--display: table-cell;
    vertical-align: middle;
    text-align: center;-->